 *{    
  box-sizing: border-box;    
}   
    
input[type=text], select, textarea {    
  width: 100%;    
  padding: 12px;    
  border: 1px solid rgb(70, 68, 68);    
  border-radius: 4px;    
  resize: vertical;    
}    
input[type=email], select, textarea {    
  width: 100%;    
  padding: 12px;    
  border: 1px solid rgb(70, 68, 68);    
  border-radius: 4px;    
  resize: vertical;    
}    
    
label {    
  padding: 12px 12px 12px 0;    
  display: inline-block;    
}    
    
#j
{
margin-top:20px;
width:70px;
height:30px;
float:right;
background-color: rgb(37, 116, 161);    
  color: white;  
}
    
#j:hover {    
  background-color: #370b01;    
}   
    
    
.container {    
  border-radius: 5px;    
  padding: 20px;   
  margin-right: 300px; 
}    
    
.col1 {    
  float: left;    
  width: 25%;    
  font-size: 20px;
  margin-top: 6px;    
}    
    
.col2 {    
  float: left;    
  width: 75%;    
  font-size: 20px;
  margin-top: 6px;    
}    
        
.row:after {    
  content: "";    
  display: table;    
  clear: both; 
}