body {
    background-image:url("selectbg.jpg");
    background-repeat:no-repeat;
   background-size:100% 100%;
  }
  
  #sign {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
  }
  
  #f {
    font-size: 27px;
    font-family: cursive;
  }
  
  .box {
    
    width: 50%;
    height: 60%;
    margin-left: 25%;
   
  }
  
  h1 {
    text-align: center;
    font-size: 55px;
    margin-top:100px;
   color:#0f3468;
    margin-bottom:15px;
text-decoration-line: underline;
  text-decoration-style: dashed;
  }

  h1 i {
    margin-right: 10px;
  }

.le
{
 background:linear-gradient(to bottom, #b9dbf5 0%, #94b4cc 35%);
  border: none;
  color: white;
  width:40%;
   height:20%;
  text-align: center;
  font-weight:bold;
  margin-left:200px;
 font-size: 30px;
  margin-top:30px;
  cursor: pointer;
border-radius:40px;
}

a:link{text-decoration:none;}
a{
  color:black;
}