*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body{
    background-image: url("final2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    background: #fff;
    width: 85%;
    max-width: 500px;
    margin:100px auto 0;
    border-radius: 12px;
    padding: 30px;
}
.content h1{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#142c82;
    border-bottom: 1px solid #000707;
    padding-bottom: 32px;
}
.web{
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.web h2{
    font-size: 18px;
    color: #08234e;
    font-weight: 599;  
}
.button1{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 90%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    margin-left: 20px;
    text-align: left;
    border-radius: 4px;
    cursor:pointer;
    transition: all 0.3s;
}
.button1:hover:not([disabled]){
    background: #0c1c4e;
    color: #fff;
}
.button1:disabled{
    cursor: no-drop;
}
#next-button1{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor:pointer;
    
}
.right{
    background: #65eea0;
}
.wrong{
    background: #ef6f6f;
}
.answer-buttons{
    margin-left: 100px;
}